
@import "tailwindcss";

:root {
  /* Sunbird Brand Colors */
  --sunbird-brown: #A36B41;
  --sunbird-yellow: #FFCC66;
  --sunbird-beige: #FDFAF3;
  --sunbird-orange: #C98C56;
  
  --background: var(--sunbird-beige);
  --foreground: var(--sunbird-brown);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-sunbird-brown: var(--sunbird-brown);
  --color-sunbird-yellow: var(--sunbird-yellow);
  --color-sunbird-beige: var(--sunbird-beige);
  --color-sunbird-orange: var(--sunbird-orange);
  
  --font-sans: var(--font-montserrat), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}
